
.btn1 {
    border :none;
    padding: 16px 20px;
  }
.btn{
  background-color: #ffc451;
  color: black;
  border: 2px solid #ffc451;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color:  #ffd584;
}

  @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body {font-family: 'Lato', sans-serif;}
html, body {height: 100%;}
.form-body {height: 100%;}
.form-body > .row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}
.form-holder {
  margin-left: 550px;
  width: 100%;
}
.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
  min-height: 100%;
}
.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}
.form-content .page-links {
  margin-bottom: 34px;
}
.form-content .page-links a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-content .page-links a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-content .page-links a.active {
  font-weight: 700;
}
.form-content input, .form-content .dropdown-toggle.btn-default {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 14px;
}
.form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}
.form-content .form-button .ibtn {
  border-radius: 6px;
  border: 0;
  padding: 6px 28px;
  background-color: #fff;
  color: #29A4FF;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}
.form-content form { margin-bottom: 30px;}
.form-content .other-links span {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin-right: 20px;
}
.form-content .other-links a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}
.form-holder {
  margin-left: 0;
}
.form-content {
  background-color: #152733;
}
.form-content .form-items {
  max-width: 340px;
  text-align: center;
}
.form-content .form-button .ibtn {
  background-color: #1592E6;
  color: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}
.form-content .form-button a {color: #fff;}